*
!CHANGELOG.md
!docs/*
!examples/*
!profiles/*
!LICENCE.TXT
!Makefile
!package.json
!README.md
!lib/*.js
!scripts/*
!src/*
!test/data/data.md5sum
!test/data/Makefile
!test/data/md5sum.js
!CMakeLists.txt
!cmake/*
